
body, main {
    background-color: hsl(212, 45%, 89%);    
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 20rem;
    padding: 1em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
    margin: 2em 1em;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

img {
    max-width: 18rem;
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 1em;
    margin-block-end: .5em;
}

.card-body {
    max-width: 17rem;
    margin: 2rem auto;
    padding: 0 .5rem;
    text-align: center;
    font-size: 1rem;
}

h1, p, .attribution {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}


h1 {
    font-size: 1.4rem;
    color: hsl(218, 44%, 22%);
    margin: 0 0;
    font-weight: 900;
    line-height: 1.2em;
}

p {
    font-size: 1rem;
    color: hsl(216, 15%, 48%);
    line-height: 1.5em;
    font-weight: 400;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.attribution {
    font-size: .6rem;
    color: hsl(216, 15%, 48%);
    text-align: center;
    margin-block-end: 3em;
    display: none;
}

.attribution a {
    color: hsl(218, 44%, 22%);
    text-decoration: none;
    font-weight: 300;
}

@media screen and (min-width: 376px) {

    .card-body {
        max-width: 17rem;
        margin: 0 auto;
        padding: 1rem 0 .5rem;
    }
    
    h1 {
        font-size: 1.3rem;
    }
    
    p {
        font-size: .9rem;
        margin-block-start: 1rem;
        padding: 0 1rem;
    }
    
    .attribution {
        font-size: 0.7rem;
    }
    
}